<nav class="navbar navbar-expand-lg navbar-white">
         <a class="navbar-brand" href="index.html">
            <img class="img-fluid" width="150px" src="images/logo.png" alt="LogBook">
         </a>
         <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
            <i class="ti-menu"></i>
         </button>

         <div class="collapse navbar-collapse text-center" id="navigation">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item dropdown">
                  <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                     inicio <i class="ti-angle-down ml-1"></i>
                  </a>
                  <div class="dropdown-menu">
                     <a class="dropdown-item" href="index-full.html">Todo a lo ancho</a>
                     <a class="dropdown-item" href="index-full-left.html">Menu a la izquierda</a>
                     <a class="dropdown-item" href="index-full-right.html">Menu a la derecha</a>
                     <a class="dropdown-item" href="index-list.html">Homepage List Style</a>
                     <a class="dropdown-item" href="index-list-left.html">Inicio Lista con menu a la izquierda</a>
                     <a class="dropdown-item" href="index-list-right.html">Inicio Lista con menu a la derecha</a>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="about.html">A cerca de</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contacto</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">Secciones <i class="ti-angle-down ml-1"></i>
                  </a>
                  <div class="dropdown-menu">
                     <a class="dropdown-item" href="author.html">Author</a>
                     <a class="dropdown-item" href="salas.html">Salas</a>
                     <a class="dropdown-item" href="armas.html">Armas</a>
                     <a class="dropdown-item" href="pociones.html">Pociones</a>
                     <a class="dropdown-item" href="enemigos.html">Enemigos</a>
                     <a class="dropdown-item" href="terms-conditions.html">Terms Conditions</a>
                  </div>
               </li>
            </ul>
            
            <select class="m-2 border-0" id="select-language">
               <option id="sp" value="about/" selected>sp</option>
               <option id="fr" value="fr/about/">Fr</option>
            </select>

            <!-- search -->
            <div class="search px-4">
               <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
               <div class="search-wrapper">
                  <form action="javascript:void(0)" class="h-100">
                     <input class="search-box pl-4" id="search-query" name="s" type="search" placeholder="Que buscas...">
                  </form>
                  <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
               </div>
            </div>

         </div>
      </nav>