<footer class="section-sm pb-0 border-top border-default">
      <div class="container">
         <div class="row justify-content-between">
            <div class="col-md-3 mb-4">
               <a class="mb-4 d-block" href="index.html">
                  <img class="img-fluid" width="150px" src="images/logo.png" alt="LogBook">
               </a>
               <p>
                 Recorre la misteriosa Lemuria, vence a los enemigos y recoge items, hasta que recuperes el tesoro robado.
               </p>
            </div>

            <div class="col-lg-2 col-md-3 col-6 mb-4">
               <h6 class="mb-4">Ligas</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="about.html">A cerca de</a></li>
                  <li><a href="contact.html">Contacto</a></li>
                  <li><a href="privacy-policy.html">PolÃ­tica de privacidad</a></li>
                  <li><a href="terms-conditions.html">Terminos Condiciones</a></li>
               </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-6 mb-4">
               <h6 class="mb-4">Grupos</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="#">TolucaJS</a></li>
                  <li><a href="#">IEEE extreme</a></li>
               </ul>
            </div>

            <div class="col-md-3 mb-4">
               <h6 class="mb-4">Suscribete (Newsletter)</h6>
               <form class="subscription" action="javascript:void(0)" method="post">
                  <div class="position-relative">
                     <i class="ti-email email-icon"></i>
                     <input type="email" class="form-control" placeholder="Correo">
                  </div>
                  <button class="btn btn-primary btn-block rounded" type="submit">Susscribete</button>
               </form>
            </div>
         </div>
         <div class="scroll-top">
            <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
         </div>
         <div class="text-center">
            <p class="content">&copy; 2020 - Design &amp; Develop By <a href="https://themefisher.com/" target="_blank">Themefisher</a></p>
         </div>
      </div>
   </footer>